* {
	font-size: 64px;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

thead td {
	font-weight: bold;
}

td {
	width: 30%;
	text-align: center;
}

.odd {
	background-color: #FFFFFF;
}

.even {
	background-color: #F5F5F5;
}

.plusButton, #newPlayerButton, #newPlayerText {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: center;
	background-color: transparent;
	border: none;
}

#newPlayerText, #newPlayerButton {
	border: 1px solid black;
}

#sumField {
	border-top: 9px double black;
}
